# Auto detect text files and perform LF normalization
* text=auto
*.psd filter=lfs diff=lfs merge=lfs -text
*.torrent filter=lfs diff=lfs merge=lfs -text
Astroneer/ filter=lfs diff=lfs merge=lfs -text
